*~
vogl/*
vogl_build/*
vogl_extbuild/*

bin/x86_64/mkvogl
bin/x86_64/steamlauncher
bin/x86_64/clang-format
bin/i386/mkvogl
bin/i386/steamlauncher
bin/i386/clang-format

tests/x86_64/run_tests

tests/traces/MetroLL.trace
tests/traces/darwinia_trace.bin
tests/traces/doom3.trace
tests/traces/dota_linux.trace
tests/traces/glxspheres32.trace
tests/traces/heaven_x86.trace
tests/traces/p1_full.trace
tests/traces/quake2.trace
tests/traces/quake3.x86.trace
tests/traces/tf2.trace
